<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<testSuites>
		<suite name="SmokeTests">
			<test name="SmokeTest1" />
			<test name="SmokeTest2" />
		</suite>
		<suite name="OtherTests">
			<test name="OtherTest1" />
			<test name="OtherTest2" />
		</suite>
	</testSuites>
</configuration>
